### We should ignore C::B temp save files.
._*
*.save

### Ignores .DS_Store , .clang_complete and .pch files.
.DS_Store
.clang_complete
*.pch

### Ignores CMakeFiles files.
CMakeFiles/*

### Ignores kDevelop files.
*.kdev4
.kdev4

### Ignores binaries
SDK/Plugins/*
SDK/example
SDK/libgre.*
