<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>exampleplugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>greengine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>openglrenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>osxwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41877B581BEFADDE0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877B8B1BEFAF690024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877BA61BEFB02D0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877BB01BEFB02D0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877BCF1BEFB5CC0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877BD91BEFB5CC0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41877BF81BEFB64C0024B643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
